.App {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.btn-group button {
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-bottom: 1vh;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.btn-group {
  position: absolute;
  left: 50vw;
  top: 15vh;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}